<div class="countdown">
    <div class="bubble">
        <span class="number">{{daysToDday}}</span>
        <span class="unit">Days</span>
    </div>
    <div class="bubble">
        <span class="number">{{hoursToDday}}</span>
        <span class="unit">Hours</span>
    </div>
    <div class="bubble">
        <span class="number">{{minutesToDday}}</span>
        <span class="unit">Minutes</span>
    </div>
    <div class="bubble">
        <span class="number">{{secondsToDday}}</span>
        <span class="unit">Seconds</span>
    </div>
</div>