<picture class="nft-set">
    <source srcset="assets/nft_set.webp" type="image/webp">
    <source srcset="assets/nft_set.png" type="image/png">
    <img src="assets/nft_set.png">
</picture>

<div class="container">

    <h2>Our Goals</h2>
    <ul>
        <li>Showing a better way to do drops
            <ul>
                <li>Reducing Network Load</li>
                <li>Providing a fair way to buy multiple NFTs</li>
            </ul>
        </li>
        <li>Raising Funds for a long term Metaverse Roadmap</li>
        <li>Raising Funds to assist the launch of a Non Profit</li>
        <li>Providing functionality on launch</li>
    </ul>

    <button mat-button (click)="openRoadmap()">View the Roadmap</button>
</div>

<div class="nfts">
    <picture>
        <source srcset="assets/larvae.webp" type="image/webp">
        <source srcset="assets/larvae.png" type="image/png">
        <img src="assets/larvae.png" alt="Bee Larvae">
    </picture>
    <picture>
        <source srcset="assets/bee.webp" type="image/webp">
        <source srcset="assets/bee.png" type="image/png">
        <img src="assets/bee.png" alt="Worker Bee">
    </picture>
    <picture>
        <source srcset="assets/drone.webp" type="image/webp">
        <source srcset="assets/drone.png" type="image/png">
        <img src="assets/drone.png" alt="Drone Larvae">
    </picture>
</div>