<div>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div class="starscape">
        <div class="tagline">
            <h1>
                Collectable
            </h1>
            <h2>
                Game Avatars
            </h2>
            <h3>Exploring community driven games</h3>
        </div>
        <div>
            <picture>
                <source srcset="assets/bee_looking.webp" type="image/webp">
                <source srcset="assets/bee_looking.png" type="image/png">
                <img src="assets/bee_looking.png" alt="Bee Avatar">
            </picture>
        </div>
        <div class="wide-center">
            <a mat-flat-button color="warn" class="launch-game" href="https://txgalactic.io/game/index.html">Launch Demo</a>
        </div>
        <countdown></countdown>
    </div>
</div>